.container {
    text-align: center;
    color: #961f67;
    font-size: 16px;
    font-weight: bolder;
    background-color: azure;
}
.header, .header1 {
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(241, 0, 189);
    background-color: #ee2d67;
    color: white;
    width: 80%;
    margin: 20px auto;
    padding: 0 30px;
    box-sizing: border-box;
}
.main, .main1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(241, 0, 189);
    color: rgb(255, 0, 0);
    font-size: 15px;
    background-image: url("download.jpeg");
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    color: black;
}

