.container{
    border: 1px solid blueviolet;
    background-color:black;
}
.container h1{
    color:white;
    text-align: center;
}
.nav{
    background-color: rgb(36, 78, 78);
    padding: 20px;
}
.c1{
    text-align: center;

}
.c1 h3{
    text-align: center;

}
ol{
    list-style:none ;
    display: flex;
    gap: 10px;
  justify-content: center;
}
img{
    width: 500px;
    height: 500px;
}
.ig{
    text-align: center;
}

.footer{
    background-color: rgb(121, 3, 255);
}
.footer h3{
    padding: 0%;
    text-align: center;
    color: white;
    background-color:black;
}
