body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1kWDXG9ndG4FzLT_k8sVi37NWJPn9QoRNxQ&s'); /* Add your background image URL */
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

article {
    margin-bottom: 30px;
    /* background-image: url('image.jpg'); Add your article background image URL */
    background-size: cover;
    padding: 20px;
    color: #000000;
}

footer {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    padding: 10px;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

article {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


#short-story {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    margin-bottom: 30px;
}
